__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.env
.git
.gitignore
.DS_Store
db.sqlite3
node_modules/
.vscode/
.idea/
*.log
*.pot
.coverage
htmlcov/
.pytest_cache/
dist/
build/
*.egg-info/
.egg
.tox/