{% extends 'base.html' %}
{% load humanize %}


{% block main %}
<!-- BANNER -->
{% include 'components/_baner.html' %}


<div class="container">

    <div class="product-grid">

        {% for product in products %}

        <div class="card">

            <div class="heart_card" onclick="toggleHeart(this)">❤</div>

            <a href="{% url 'product_detail' product.slug product.id %}">
                <div class="card-img">
                    <img src="{{ product.images.first.image.url }}">
                </div>
            </a>

            <div class="card-body">

                <h4>{{ product.title }}</h4>

                <div class="price-block">

                    {% if product.discount %}

                    <span class="new-price">{{ product.discount_price|intcomma }} сум</span>
                    <span class="old-price">{{ product.price|intcomma }} сум</span>

                    <div class="discount-badge">
                        -{{ product.discount }}%
                    </div>
                    {% else %}
                    <span class="new-price">{{ product.price|intcomma }} сум</span>

                    {% endif %}
                    <div class="installment-text">
                        ~ Рассрочка от {{ product.installment_price|intcomma }} сум / на 12 мес
                    </div>

                </div>
                {% if product.quantity > 0 and product.is_active %}
                <a href="{% url 'add_cart' product.slug 'add' %}">
                    <button class="btn">Добавить в корзину 🛒</button>
                </a>
                {% elif product.quantity == 0 or product.is_active == False %}
                <button class="btn" style="background-color: #d3d3d3">Сейчас отсутствует в продаже ❌</button>
                {% endif %}
            </div>

        </div>

        {% endfor %}

    </div>

</div>
{% endblock main %}

