{% extends 'base.html' %}


{% block main %}
<div class="auth-page">

    <div class="auth-left">
        <h1>С возвращением</h1>
        <p>Войдите чтобы продолжить покупку</p>
    </div>

    <div class="auth-right">

        <div class="auth-card">

            <h2>Авторизация</h2>

            {% for message in messages %}
            <p style="color: red; padding-bottom: 8px">{{ message }}</p>
            {% endfor %}

            <form method="POST">
                {% csrf_token %}

                <input type="text" name="username" placeholder="Номер телефона">
                <input type="password" name="password" placeholder="Пароль">

                <button type="submit">Войти</button>
            </form>

            <p>
                Нет аккаунта?
                <a href="{% url 'register' %}">Создать аккаунт</a>
            </p>

        </div>

    </div>

</div>
{% endblock main %}
