{% extends 'base.html' %}

{% block main %}
<div class="checkout">

    <h2 class="checkout__title">Оформление заказа</h2>

    <div class="checkout__grid">

        <!-- USER -->
        <div class="checkout__card checkout__card--user">
            <h3 class="checkout__card-title">Ваши данные</h3>

            <div class="checkout__info">
                <p><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</p>
                <p><b>Phone:</b> {{ user.username }}</p>
            </div>
        </div>

        <!-- DELIVERY -->
        <div class="checkout__card checkout__card--form">

            <h3 class="checkout__card-title">Доставка</h3>

            <form id="checkout-form" class="checkout__form" method="post">

                {% csrf_token %}

                <label class="checkout__label">Адрес</label>
                <input class="checkout__input" type="text" name="address">

                <label class="checkout__label">Комментарий</label>
                <textarea class="checkout__textarea" name="comment"></textarea>

            </form>

        </div>

        <!-- SUMMARY -->
        <div class="checkout__card checkout__card--summary">

            <h3 class="checkout__card-title">Итог</h3>

            <div class="checkout__line">
                <span>Количество товаров</span>
                <b>{{  }}</b>
            </div>

            <div class="checkout__line">
                <span>Subtotal</span>
                <b>19 000 000</b>
            </div>

            <div class="checkout__line checkout__line--total">
                <span>Итоговая сумма</span>
                <b>19 000 000</b>
            </div>

            <button class="checkout__btn" type="submit" form="checkout-form" style="font-size: 15px">
                Заказать
            </button>

        </div>

    </div>

</div>
{% endblock main %}