{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block header %}

{% endblock header %}


{% block main %}
<div class="content">
    <div class="container">
        {% include 'digital_store/components/_product_parameters.html' %}

        {% include 'digital_store/components/_product_characteristics.html' %}


        <div class="same_products">
            <div class="content">
                <div class="container">
                    <div class="same_product_text">
                        <h2 class="content__title">Похожие товары</h2>
                        <a href="{{ product.category.get_absolute_url }}" class="content__title"><span>Больше Товаров</span> <img
                                src="{% static 'image/icons/errow_right.svg' %}"
                                alt=""></a>
                    </div>
                    <div class="content__cards">

                        {% for product in same_products.all|slice:":3" %}

                        {% include 'digital_store/components/_card.html' %}

                        {% endfor %}


                    </div>


                </div>


            </div>
        </div>

    </div>
</div>
{% endblock main %}


