{% extends 'base.html' %}


{% block main %}

<div class="success-page">

    <div class="success-card">

        <!-- ICON -->
        <div class="icon">✓</div>

        <h1>Заказ создан!</h1>

        <p>Ваши оплата была принята.</p>

        <div class="info">

            <div class="info-row">
                <span>Номер заказа</span>
                <b>#{{ order.id }}</b>
            </div>

            <div class="info-row">
                <span>Статус</span>
                <b class="status">Оплачено</b>
            </div>

            <div class="info-row">
                <span>Доставка</span>
                <b>В ожидании</b>
            </div>

        </div>

        <div class="buttons">

            <button class="primary">Посмотреть историю заказов</button>
            <button class="secondary">Продолжить покупку</button>

        </div>

    </div>

</div>
{% endblock main %}