{% load static %}

<div class="banner">

    <h1>Welcome to Digital Store</h1>
    <p>Discover quality products at great prices</p>

    <a href="#" class="btn-shop">Shop Now</a>


</div>


<!--<div class="header_baner"  style=" overflow:hidden;">-->
<!--    <div class="header_baner-item">-->
<!--        <swiper-container class="mySwiper swiper-initialized swiper-horizontal swiper-backface-hidden" pagination="true">-->
<!--            <swiper-slide role="group" class="swiper-slide-active" style="width: 1920px">-->
<!--                <img class="banner" src="{% static 'image/advertising/Group 539.png' %}" alt="">-->
<!--                <div class="container height_baner" >-->
<!--                    <div class="banner_text">-->
<!--                        <p>Все, что вы любите – неповторимо</p>-->
<!--                        <h2>Samsung Galaxy A72</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </swiper-slide>-->
<!--            <swiper-slide role="group" class="swiper-slide-next ">-->
<!--                <img class="banner" src="{% static 'image/advertising/Group 539.png' %}" alt="">-->
<!--                <div class="container height_baner">-->
<!--                    <div class="banner_text">-->
<!--                        <p>Все, что вы любите – неповторимо</p>-->
<!--                        <h2>Samsung Galaxy A72</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </swiper-slide>-->
<!--        </swiper-container>-->

<!--    </div>-->
<!--</div>-->







