{% load static %}
{% load digital_store_tags %}
{% get_categories as cats %}

<nav>
    <div class="nav_menu_icon container">
        <div class="nav__top">
            <a href="{% url 'main' %}" class="logo">
                <img src="{% static 'image/logo/logo store 2.svg' %}" alt="">
            </a>
            <form action="" method="get" >
                <label for="s" class="label_search">
                    <input name="q" id="s" type="search" placeholder="Поиск по товарам" class="serch_in">
                    <button type="submit"><img class="icon_serch" src="{% static 'image/icons/Vector.svg' %}" alt="">
                    </button>
                </label>
            </form>
            <div class="nav_icon">
                <ul class="icon">
                    <li><a href="" class="click_icon {% if product in 'favs' %}active{% endif %}"><img src="{% static 'image/icon_header/Group 524.svg' %}" alt=""></a>
                    </li>
                    <li><a href="" class="click_icon {% if product in 'basket' %}active{% endif %}"><img src="{% static 'image/icon_header/bi_cart3 (1).svg' %}"
                                                            alt=""></a>
                    </li>
                    <li><a href="" class="click_icon {% if product in 'profile' %}active{% endif %}"><img src="{% static 'image/icon_header/Group 522 (1).svg' %}"
                                                            alt=""></a>
                    </li>
                    <li class="dropdown">
                        <a href="#!" class="category_burger"><img src="{% static 'image/icons/burger.svg' %}" alt="">
                        </a>
                        <div class="dropdown-content" style="background: #0f2859">
                            <ul class="list_burger">

                                {% for cat in cats %}
                                <li class="burger_list"><a href="{{ cat.get_absolute_url }}"><img src="{{ cat.get_icon }}" alt="">
                                    <span class="burger_text" style="color: white">{{ cat.title }}</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>


    </div>
</nav>

