{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marketplace</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Swiper    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>


</head>

<script>
function toggleHeart(el) {
    el.classList.toggle("active");
}
</script>

<body>


<!-- NAVBAR -->
{% include 'components/_navbar.html' %}


<!-- BANNER -->
{% include 'components/_baner.html' %}


{% block main %}


{% endblock main %}


<!-- FOOTER -->

{% include 'layouts/_footer.html' %}


</body>
</html>

