{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marketplace</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Swiper    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>

<script>
function toggleHeart(el) {
    el.classList.toggle("active");
}
</script>

<script>
function openFilters() {
    document.getElementById("filterPanel").classList.add("open");
}

function closeFilters() {
    document.getElementById("filterPanel").classList.remove("open");
}
</script>

<body>

<!-- NAVBAR -->
{% include 'components/_navbar.html' %}

{% block main %}


{% endblock main %}


<!-- FOOTER -->

{% include 'layouts/_footer.html' %}


</body>
</html>

