{% load static %}
{% load humanize %}
{% load digital_store_tags %}


<div class="content">
    <div class="container">
        <h2 class="content__title">{{ title }}</h2>

        <div class="list_filter">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="list_label">
                    <div class="brand">
                        <button class="cat_name" type="button"><span>Бренд: {% if request.GET.brand %}{{ request.GET.brand }}{% endif %}
                  </span> <img src="{% static 'image/icons/errow_down.svg' %}" alt=""></button>
                        <ul class="list_cat">

                            <li><a class="category" href="?{% query_params brand=None page=1 %}">-----------</a>
                            </li>

                            {% for brand in brands %}
                            <li><a class="category" href="?{% query_params brand=brand.slug page=1 %}">{{ brand.title }}</a>
                            </li>
                            {% endfor %}

                        </ul>

                    </div>


                    <div class="brand brand1">
                        <button class="cat_name" type="button"><span>Скидка: {% if request.GET.discount_to %}{{ request.GET.discount_to }}{% endif %} %

                  </span> <img src="{% static 'image/icons/errow_down.svg' %}" alt=""></button>
                        <ul class="list_cat">

                            <li><a class="category" href="?{% query_params discount_to=None page=1 %}">-----------</a>
                            </li>

                            {% for discount in discounts %}
                            <li><a class="category" href="?{% query_params discount_to=discount page=1 %}">{{ discount }} %</a>
                            </li>
                            {% endfor %}


                        </ul>
                    </div>


                    <div class="brand brand2">
                        <button class="cat_name" type="button"><span>Цена от: {% if request.GET.price_from %}{{ request.GET.price_from|intcomma }}{% endif %}
                  </span> <img src="{% static 'image/icons/errow_down.svg' %}" alt=""></button>
                        <ul class="list_cat">

                            <li><a class="category" href="?{% query_params price_from=None page=1 %}">-----------</a>
                            </li>

                            {% for price in prices %}
                            <li><a class="category" href="?{% query_params price_from=price page=1 %}">{{ price|intcomma }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>


                    <div class="brand brand3">
                        <button class="cat_name" type="button"><span>Цена до: {% if request.GET.price_to %}{{ request.GET.price_to|intcomma }}{% endif %}
                  </span> <img src="{% static 'image/icons/errow_down.svg' %}" alt=""></button>
                        <ul class="list_cat">

                            <li><a class="category" href="?{% query_params price_to=None page=1 %}">-----------</a>
                            </li>

                            {% for price in prices %}
                            <li><a class="category" href="?{% query_params price_to=price page=1 %}">{{ price|intcomma }}</a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>

