{% load static %}
{% load humanize %}
{% load digital_store_tags %}

{% if request.user.is_authenticated %}
{% get_favorites request.user as favs %}
{% endif %}

<div class="detail_product">


    <div class="product_img">

        <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                          class="mySwiper"
                          thumbs-swiper=".mySwiper2" loop="true" space-between="10" navigation="true">
            <swiper-slide>
                <img src="{{ product.first_photo }}"/>
            </swiper-slide>

            {% for image in product.images.all|slice:"1:" %}
            <swiper-slide>
                <img src="{{ image.image.url }}"/>
            </swiper-slide>
            {% endfor %}

        </swiper-container>


    </div>

    <div class="product_info">
        <h2 class="title__product">{{ product.title }}</h2>
        <div class="price_color">
            <div class="price_product">
                <p>Цена:</p>
                <h3>{{ product.get_price|intcomma }} сум</h3>
                {% if product.discount %}
                <span class="product_old_price" style="font-size: 26px; margin-left: 20px;">{{ product.price|intcomma }} сум</span>
                {% endif %}
            </div>
            <div class="color_product">
                <p>Цвет:</p>
                <div class="box_color">
                    {% for brand in same_brands %}
                    <a href="{{ brand.get_absolute_url }}" class="color_squer first active"
                       style="background: {{ brand.color_code }}"></a>
                    {% endfor %}
                </div>
            </div>
            <div class="quantity_product">
                <p>Количество:</p>
                <h3>{{ product.quantity }}</h3>
            </div>
        </div>

        <div class="list_button">

            <a href="{% url 'action_cart' product.slug 'add' %}" class="btn btn_cage1"><img
                    src="{% static 'image/icons/cage.svg' %}" alt="">
                <span>Вкорзину</span>
            </a>
            <a href="" class="btn btn_cage2"><span>Купить в рассрочку</span> </a>

            <a href="{% url 'action_fav' product.slug %}" class="link_fav {% if product in favs %}active{% endif %}">
                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                            stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"/>
                </svg>
            </a>

        </div>
    </div>

</div>